html {
    font-size: 16px;
    background-color: #b1bbc0;
    color: #f5f5f5;
}

body {
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo {
    text-transform: capitalize;
    margin: 0rem 2rem;
    font-family: quicksand;
    width: 3.125rem;
    color: #0892d0;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}
li{
    margin: 0rem 2rem;
    border: solid 1px;
    border-radius: 17%;
    padding: .3125rem .3125rem;
    font-family: quicksand;
}
a:link {
    border-color: black;
    color: black;
    text-decoration: none;
}
a:visited {
    color: #0892d0;
}
a:hover {
    color: black;
    transition: .8s;
}
a:active {
    transition: .1s;
    border-color: black;
    color: #f5f5f5;
}

.mission {
    display: flex;
    height: auto;
    justify-content: center;
    margin: 20px;
}
.background {
    height: auto;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
}
.goal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    z-index: 99;
    position: absolute;
    width: 1403px;
    font-size: 1.9rem;
    color: #0892d0;
    background-color: #b1bbc0;
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.photo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0892d0;
    font-size: 1.4rem;
}
.photo-box-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #0892d0;
    font-size: 1.4rem;  
}
.team {}

.contact {}

