html {
    background-color: black;
    font-size: 16px;
}

body {
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.links {
    display: flex;
    text-transform: uppercase;
    font-family: play, sans-serif;
}
a:active {
    color: #76adec;
    background-color: #a802f8;
}
a:hover {
    color: #76adec;
    background-color: #a802f8;
}
a:visited {
    color: #76adec;
}
a:link {
    color: #76adec;
    text-decoration: none;
    border: 2px solid #a802f8;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10%;
    background-color: #000;
}
.games {
    margin-right: 20px;
}
.info {
    margin-left: 20px;
    margin-right: 20px;
}
.contact {
    margin-left: 20px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.title-1 {
    font-family: "major mono display", sans-serif;
    font-size: 4.0625rem;
    color: #a802f8;
    margin-bottom: 290px;
    position: absolute;
    z-index: 99;
}
.main-img {
    background-size: cover;
    position: relative;
    width: 1440px;
}

main {}

#games {
    background-color: #a802f8;
    padding: 30px 0px;
    font-family: play;
    text-transform: capitalize;
    font-size: 1.5625rem;
}
.row-1 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.row-2 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-evenly;
    margin-top: 10px;
}
#option1 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
}
.option-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option2 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option3 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option4 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option5 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option6 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option7 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#option8 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background-size: cover;
    display: flex;
}
.option-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-image: url("resources/images/Neon-image-2.jpg");
    height: 1000px;
}
.title-2 {
    font-family: "major mono display", sans-serif;
    font-size: 4.375rem;
    color: #76adec;
    margin-bottom: 150px;
    z-index: 99;
    text-transform: uppercase;
}

.info-box {
    background-color: #76adec;
    width: 1200px;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
}
.about-us {
    font-family: tomorrow;
    font-size: 1.6875rem;
    padding: 5px;
    color: #12001b;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 20px;
}
.contact-box {
    background-color: #a802f8;
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.title-3 {
    font-family: "major mono display", sans-serif;
    font-size: 4.375rem;
    color: #76adec;
    text-transform: uppercase;
}
.discord {
    font-family: play;
    font-size: 1.875rem;
    text-transform: uppercase;
}
.discord-link {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: play;
    margin-top: 20px;
}

@media only screen and (max-width:425px)
{

}

@media only screen and (min-width:426px) and (max-width:768px)
{

}

